.items {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(5, 100px);
    height: 100%;
    gap: 10px;
    margin: 5rem 0px 0px 27rem
}

.item {
    background-color: gray;
    border: solid black;
}

#item1 {
    grid-column: span 3;
    grid-row: span 2;
}

#item3 {
    grid-row: span 2;
}

#item4 {
    grid-row: span 3;
}

#item8 {
    grid-column: span 3;
    grid-row: span 2;
}

#item9 {
    grid-column: span 2;
    grid-row: span 2;
}